reportWebVitals.ts
react-app-env.d.ts
apiMock.ts
api.test.ts
UserContext.test.tsx
jest.config.js
EditClient.test.tsx

# Ignorar arquivos de teste
**/__tests__/**
**/*.test.tsx
**/*.spec.ts
**/*.test.js
**/*.spec.js